h2 {
    background-color: lightcyan;
    width: 900px
}

h3.highlight {
    background-color: lightblue;
}

h4 {
    background-color: lightcyan;
}

p.info {
    width: 600px;
}

.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.abort {
    background-color: #eea022;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.choice {
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    color: teal;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.inp {
    border-radius: 10px;
    width: 900px;
    background-color: #e6e6e6;
}

td {
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
    white-space: nowrap;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
}
td.center {
    text-align: center;
    background-color: #a4aeaf;
}
.active {
    background-color: lightgreen;
    width: 80px;
    text-align: center;
    font-size: 18px;
    border: 1px;
}
.inactive {
    background-color: lightpink;
    width: 80px;
    text-align: center;
    font-size: 18px;
    border: 1px;
}
p.head {
    border-radius: 10px;
    width: 900px;
    background-color: #e6e6e6;
    text-align: center;
    font-size: 30px;
}
.left {
    border-radius: 10px;
    width: 450px;
    background-color: lightblue;
    text-align: center;
    font-size: 20px;
}
.right {
    border-radius: 10px;
    width: 450px;
    background-color: lightgreen;
    text-align: center;
    font-size: 20px;
}

input.str {
    width: 200px;
}