# IntelliJ project folder
.idea

# Other dev-env folders and files
.vagrant
Vagrantfile

# setup.py-related folders and files
build
dist
*.egg-info

# Compiled files
*.pyc

# Logs
*.log
*.log.*

# Dynamically created doc folders
doc/_build

# Remaining stuff
oidc_example/op2/client_db.db
oidc_example/op2/config.py
oidc_example/op2/modules
oidc_example/op2/sp.xml
oidc_example/op2/sp_cert/tmp_mycert.pem
oidc_example/op2/sp_cert/tmp_mykey.pem
oidc_example/op2/sp_conf.py
oidc_example/op2/static/jwks.json
update
