image:
  - Visual Studio 2019

environment:
  matrix:
    - TOXENV: py38
    - TOXENV: py39
    - TOXENV: py310

build: off

install:
  - py -m pip install --upgrade pip tox

test_script:
  - py -m tox
