environment:
  matrix:
    - PYTHON: "C:\\Python35-x64"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python36-x64"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python37-x64"
      PYTHON_ARCH: "64"

build: off

install:
  - "%PYTHON%\\python.exe -m pip install .[testing]"

test_script:
  - "%PYTHON%\\python.exe -m pytest tests/ -m \"not network\""
