alabaster==0.7.16
autodoc-pydantic==2.0.1
Babel==2.14.0
docutils==0.20.1
imagesize==1.4.1
Jinja2==3.1.6
pydantic==2.6.2
pydantic-settings==2.2.1
pydantic_core==2.16.3
Pygments==2.17.2
readme_renderer==43.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinx-autobuild==2024.2.4
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
