# -*- coding: utf-8 -*-

baseurl = "https://localhost"
issuer = "%s:%%d" % baseurl

keys = {
    "RSA": {
        "key": "cp_keys/key.pem",
        "usage": ["enc", "sig"]
    }
}

SERVICE_URL = "%s/verify" % issuer

AUTHENTICATION = {
    "SAML" : {"ACR": "SAML", "WEIGHT": 1, "URL": SERVICE_URL}
}

COOKIENAME= 'pyoic'
COOKIETTL = 4*60 # 4 hours
SYM_KEY = "SoLittleTime,Got"

SERVER_CERT = "certs/server.crt"
SERVER_KEY = "certs/server.key"
CERT_CHAIN = None

# =======  SAML ==============
#User information is collected with SAML
USERINFO = "SAML"
#Name of the Service Provider configuration file.
SP_CONFIG="sp_conf_student"
#Dictionary with userinformation for the SAML users. Must be empty.
SAML = {}